[Desktop Entry]
Name=FreeTube
GenericName=YouTube player
Comment=An open source YouTube app for privacy
Exec=freetube
Icon=freetube
StartupNotify=false
Terminal=false
Type=Application
Categories=AudioVideo;Player;
